// ЦВЕТА
$color-background-1: #ff9000;
$color-background-2: #83ff06;
$color-items: #ec0505;
$color-warning: #ffa726;
$color-error: #ef5350;
$color-headline: #e17c54;

// SIZES
$button-width: 366px;
$button-height: 43px;
$input-width: 366px;
$input-height: 37px;
$padding-md: 16px;
$padding-sm: 8px;
$border-color: #000000;
$border-radius-md: 12px;

// Отступы
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;